.groupTitle {
  font-weight: bold;
  font-size: 14px;
  border-left: 4px solid #271938;
  padding: 0 0 0 8px;
  margin-bottom: 16px;
}
.checkRow {
  margin-top: 6px;
  margin-bottom: 6px;
}
.groupDivide {
  margin-bottom: 32px;
}
.customBtn {
  text-align: right;
  border-top: 1px solid $sliver;
  padding-top:16px;
}