@import "./form.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px !important;
  color: $default;
  background: $very-light !important;
  min-height: 100%;
  font-family: Arial, "open sans", "Helvetica Neue", Helvetica, "Microsoft YaHei UI", sans-serif;

  @media (max-width: $screenPhone) {
    background: $white !important;
  }
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
}
input,
textarea,
button {
  margin: 0;
  padding: 0;
  line-height: 16px;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
button:focus,
button:active {
  outline: none;
}

/*---------- link -----------*/
a {
  outline: none;
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
a:hover {
  color: #2d70a9;
  outline: none;
}
a:active {
  outline: none;
}

@keyframes :global(box-fade-up) {
  0% {
    margin-top: 48px;
    opacity: 0;
  }
  100% {
    margin-top: 16px;
    opacity: 1;
  }
}

:global {
  .box {
    margin: 16px;
    padding: 18px;
    background: $white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    animation: box-fade-up 0.3s;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, .1);*/
  }

  .page-title {
    line-height: 20px;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 8px;
    border-bottom: 1px solid $sliver;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cell50 {
    width: 50%;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }

  /*---------- clearfix -----------*/
  .clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix {
    *zoom: 1;
  }

  .ul-no-style {
    list-style: none;

    & li {
      list-style: none;
    }
  }
  .red {
    color: $red;
    &:hover {
      color: $red;
    }
  }
  .blue {
    color: $blue;
  }
  .green {
    color: $green;
  }
  .orange {
    color: $orange;
  }

  .disabled {
    color: $grey;

    &:hover {
      color: $grey;
    }
  }

  /*---------- antd -----------*/
  .ant-table-header {
    overflow-x: hidden !important;
  }

  .popover-text {
    cursor: pointer;
    color: $primary;
  }

  #app {
    position: relative;
    min-height: 100%;
  }

  @for $i from 1 through 10 {
    .marginT#{$i * 6} {
      margin-top: (6px * $i);
    }
    .marginB#{$i * 6} {
      margin-bottom: (6px * $i);
    }
    .marginL#{$i * 6} {
      margin-left: (6px * $i);
    }
    .marginR#{$i * 6} {
      margin-right: (6px * $i);
    }
    .paddingT#{$i * 6} {
      padding-top: (6px * $i);
    }
    .paddingB#{$i * 6} {
      padding-bottom: (6px * $i);
    }
    .paddingT#{$i * 8} {
      padding-top: (8px * $i);
    }
    .paddingB#{$i * 8} {
      padding-bottom: (8px * $i);
    }
  }

  .danger {
    color: $red;

    &:hover {
      color: lighten($red, 10%);
    }
  }
  .success {
    color: $success;
  }
  .textAlignC {
    text-align: center;
  }
  .errorBox {
    border: 1px solid $red;
    background: #ed556510;
    border-radius: 4px;
    color: $red;
    line-height: 22px;
    padding: 16px;
  }
  .errorMessage {
    color: $red;
    line-height: 22px;
  }
  .content404 {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-size: 46px;
      line-height: 30px;
      color: $sliver;
      letter-spacing: 4px;
    }
    & h3 {
      font-size: 16px;
      color: $sliver;
      font-weight: normal;
      letter-spacing: 1px;
    }
  }

  .button {
    display: inline-block;
    color: $white;
    background: #271938;
    padding: 0 20px;
    border-radius: 4px;
    line-height: 32px;

    &:hover {
      color: $white;
      background: #21152f;
    }
  }


  .ant-btn-link {
    padding: 0 !important;
  }

  .disabled {
    color: $sliver;
    cursor: not-allowed;
  }

  /*---------- mobile -----------*/
  // fields
  .mobile {

    &-list-item {
      margin: 6px 16px 10px;
      padding: 10px;
      box-shadow: 0 3px 10px #cccccc;
      border-radius: 5px;
    }

    &-list-hand {
      text-align: right;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
  }

  .nodata {
    padding: 10px 10px 20px;
    text-align: center;
    color: #999;
  }

  @media (max-width: $screenPhone) {
    .ant-modal-body {
      padding: 0!important;
    }
    .ant-col {
      .ant-form-item {
        margin-bottom: 15px!important;
      }

      .ant-form-item-label {
        display: flex;
        align-items: center;
        padding: 0;
      }
    }
    .box {
      padding: 0;
    }
    .page-login .ant-spin-container > * {
      padding: 0!important;
    }

    .mobile-table-wrap {

      .ant-spin-spinning {
        position: fixed!important;
        top: 51px!important;
      }
    }
  }

  .badge-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 4px;
    background: $green;

    &.status_block{
      width: 80px;
      height: 30px;
      /* height: 100%;
      // display: grid;
      // position: absolute;
      // top: 0;
      // left: 0;
      // justify-content: center;
      // align-items: center;
      border-radius: 0;*/
      padding: 5px 10px;
      text-align: center;
      color: #ffffff !important;
    }

    &.normal {
      background: $grey;
    }
    &.warning {
      background: $warning;
    }
    &.info {
      background: $info;
    }
    &.danger {
      background: $danger;
    }
    &.dark {
      background: $dark;
    }

    &.white{
      background: $white;
      color: #333 !important;
    }
    &.orange{
      background: $warning;
    }
    &.red {
      background: $red;
    }
    &.blue {
      background: $blue;
    }
    &.green {
      background: $green;
    }
    &.pink {
      background: $pink;
    }
    &.black {
      background: $black;
    }
    &.pure {
      background: $pure;
    }
    &.sky {
      background: $sky;
    }
    &.yellow {
      background: $yellow;
    }
    &.purple {
      background: #ce51da;
    }
    &.dark {
      background: #333333;
    }
    &.purple-zone{
      background: #800080;
    }
    &.green-zone{
      background: #008000;
    }
    &.red-zone{
      background: #FF0000;
    }
  }

  .button-add {
    text-align: right;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 24px;
  }
}

:global {
  .ant-table-body,
  .ant-table-body-inner {
    background: #fff;
    scrollbar-face-color: #a0a0a0;
    scrollbar-highlight-color:  #999;
    scrollbar-3dlight-color:  #a0a0a0;
    scrollbar-darkshadow-color:  #a0a0a0;
    scrollbar-shadow-color:  #a0a0a0;
    scrollbar-arrow-color: #fff;
    scrollbar-track-color: #fff;
    scrollbar-base-color: #fff;

    &::-webkit-scrollbar {/*滚动条整体样式*/
      width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
      /*background: rgba(0,0,0,0.1);*/
      border-radius: 5px;
    }
  }
  /* table表头的处理 */
  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .ant-table-scroll table .ant-table-fixed-columns-in-body {
    display: none;
  }

  /* 全屏 */
  .fullScreen:-webkit-full-screen {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .fullScreen:-ms-fullscreen {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .fullScreen:-moz-full-screen {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .form-sub-title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    background: $very-light;
    border-bottom: 1px $sliver dashed;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .fontsize16 {
    font-size: 16px;
  }
  .ant-input-number {
    width: 100%!important;
  }
  .ant-calendar-picker {
    width: 100%;
  }

  .sub-title {
    padding: 0 16px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid $sliver;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 36px;
    flex-grow: 1;
    background: $very-light;
  }


  .disabled-input-datepicker {
    position: absolute;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    margin-left: -10px;
    top: -300px;
    opacity: 0;
  }
  /* .ant-calendar-in-range-cell .ant-calendar-date {
     background: #f5c244 !important;

     & .ant-calendar-date {
       background: #f5c244 !important;
     }
   }*/
}
