
$default:     #676a6c;
$dark:        #353a3f;
$white:       #fff;
$sliver:      #dce0e4;
$light:       #e1e4e8;
$grey:        #999c9e;
$very-light:  #f9f9f9;

$primary:     #00A0E1;
$info:        #48a8ed;
$warning:     #f5c244;
$success:     #1ab394;
$danger:      #d57178;

$primary-hover:   #0386b9;
$info-hover:      #3e95d4;
$warning-hover:   #dcad37;
$success-hover:   #179c81;
$danger-hover:    #bd5c63;
$sliver-hover:    #999c9e;

$red: #ed5565;
$blue: #1aade8;
$green: #15a185;
$yellow: #e7c022;
$pink: #d722e7;
$orange: #e88300;
$black: #303a30;
$pure: #8f2cdb;
$sky: #2b82bf;
$blue-theme: #00A0E1;

/* 基本尺寸 */
$great: 40px;
$large: 34px;
$medium: 30px;
$small: 24px;

$great-font-size: 20px;
$large-font-size: 18px;
$medium-font-size: 14px;
$small-font-size: 12px;


$screenPhone: 480px;
$screenMiniPad: 768px;
$screenPad: 992px;

